.image {
  height: 450px;
  width: 350px;
  cursor: pointer;
  object-fit: cover;
}

.info-spec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-name {
  font-size: 22px;
}

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin-top: 35px;
}

.main-container {
  width: 350px;
  height: min-content;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: transform 100ms ease-in;
}
.main-container:hover {
  transform: scale(1.02);
}
.movie-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.error {
  color: red;
  text-align: center;
  object-fit: contain;
}
.movie-detail-container {
  padding: 20px;
  max-width: 600px;
}
.summary {
  padding: 5px;
}

.App {
  background-color: #f23142;
}
